.destinations {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    margin-bottom: 10px;
    justify-content: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-self: auto;
    align-items: center; /* Vertical alignment */
    padding: 0 10px; /* Adjust margin between hero elements */
    flex-basis: 25%; /* Each hero takes up 25% of the container width, allowing 4 heroes in a row */
    box-sizing: border-box; /* Include padding and border in the total width */
    text-align: center;
    width:60px;
}

.hero img {
    border:none;
    height: 50px;
    width: 50px;
}

/* Additional styling for better spacing and alignment */
.hero label {
    margin-top: 10px; /* Adjust the margin as needed */
}

.hero .token {
    margin-bottom: 5px; /* Adjust the margin as needed */
}

.hero .name { 
    min-width: 20px;
    display: block;
}


.shadowdarkawardxp .form-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px; /* Adjust the margin as needed for spacing between form groups */
}

.shadowdarkawardxp .form-group label {
    margin-right: 10px; /* Adjust the margin between label and input as needed */
    text-align: right;
    flex:0;
    width:200px;
}

.shadowdarkawardxp .form-group select {
    width: 250px;
    flex:1;
    max-width: 300px;

}

.shadowdarkawardxp .form-group input {
    width: 250px;
    flex:1;
    max-width: 300px;
}

.shadowdarkawardxp .xp-block {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.shadowdarkawardxp .xp-text {
    font-weight: bold;
}

.shadowdarkawardxp .xp-image {
    margin: 10px 10px 10px 10px;
    width:45px;
    height: 45px;
    border: none;
}

.shadowdarkawardxp .recipients-block {
    margin-top: 20px; /* Adjust the margin as needed */
}

.shadowdarkawardxp .recipient-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.shadowdarkawardxp .recipient-list li {
    display: inline;
    margin-right: 10px; /* Adjust the margin as needed */
}