<div style="float:left; margin-right:10px">
<img style="border:none" src="modules/shadowdark-award-xp/assets/exp64.png" width="45"></div>
<div style="margin-top:5px"><strong>The Kingdom of Phoenixton gained 10 XP for Custom Event.</strong><br/></div>


<ul style="display: flex; gap: 5px 10px; justify-content: flex-start ; list-style: none;">
  <li style="width: 65px; height: 65px" ><img style="border:none" src="modules/shadowdark-award-xp/assets/exp64.png" width="64"></li>
  <li style="">The Kingdom of NAME gained Some XP for ${type} of NAME gained Some XP f of NAME gained Some XP f</li>
</ul>


<div style="float:left; margin-right:10px">
<img style="border:none" src="modules/shadowdark-award-xp/assets/exp64.png" width="45"></div>
<div style="margin-top:5px"><strong>The Party gained 1 XP for Custom.</strong><br/><p>Recipients: <br/></p></div>


<div style="float:left; margin:10px 10px 10px 10px"> <img style="border:none" src="modules/shadowdark-award-xp/assets/exp64.png" width="45"></div><div style="margin-top:15px"><strong>The Kingdom of ${game.actors.party.campaign.name} gained ${xp_gain} XP for ${type}.</strong><br/></div><br/>`
