<div class="pf2eawardxp">
    <div class="pf2eawardxp xp-block">
        <img src="modules/pf2e-award-xp/assets/exp64.png" class="pf2eawardxp xp-image">
        <p class="pf2eawardxp xp-text">The Party gained {{xp}} XP for {{description}}.</p>
    </div>

    <div class="pf2eawardxp recipients-block">
        Recipients:
        <ul class="pf2eawardxp recipient-list">
            <li>test</li>
            <li>test</li>
        </ul>
    </div>
</div>
