<div class="shadowdarkawardxp">
    <div class="shadowdarkawardxp xp-block">
        <img src="modules/shadowdark-award-xp/assets/exp64.png" class="shadowdarkawardxp xp-image">
        <p class="shadowdarkawardxp xp-text">{{message}}</p>
    </div>

    <div class="shadowdarkawardxp recipients-block">
        {{localize "ShadowdarkAXP.Award.Destination"}}:
        <ul class="shadowdarkawardxp recipient-list">
            {{#each destinations}}
                <li>{{name}}</li>
            {{/each}}
        </ul>
    </div>
</div>
